In [103]:
import pandas as pd

In [104]:
df = pd.read_csv('All_data.csv')

In [105]:
df

,Name,Price,Kilometers,Fuel
0,2023 Maruti Suzuki XL6 Alpha Plus AT Petrol [2...,Rs. 11.5 Lakh,"56,123",Petrol
1,2023 Hyundai Aura SX 1.2 CNG,Rs. 6.85 Lakh,"34,900",CNG
2,2019 Maruti Suzuki XL6 Alpha AT Petrol,Rs. 10.59 Lakh,"35,806",Petrol
3,2024 Maruti Suzuki Grand Vitara Zeta Smart Hyb...,Rs. 14.99 Lakh,"5,680",Petrol
4,2016 Maruti Suzuki Baleno Zeta 1.2 AT,Rs. 4.99 Lakh,"34,036",Petrol
...,...,...,...,...
4521,2019 Hyundai Elantra 2.0 SX (O) AT,Rs. 14.65 Lakh,"23,460",Petrol
4522,2015 Honda City SV CVT,Rs. 6.75 Lakh,"44,316",Petrol
4523,2021 Mahindra XUV300 W8 (O) 1.2 Petrol AMT,Rs. 10.25 Lakh,"23,918",Petrol
4524,2018 Audi A6 35 TDI Matrix,Rs. 21.75 Lakh,"63,915",Diesel
4525,2021 Mercedes-Benz E-Class E 220 d Avantgarde,Rs. 47.75 Lakh,"34,713",Diesel

In [106]:
df.duplicated().sum()

2146

In [107]:
df = df.drop_duplicates()

In [108]:
df['Fuel'].value_counts()

Fuel
Petrol                             1365
Diesel                              874
Electric                             48
Hybrid (Electric + Petrol)           38
CNG                                  33
Mild Hybrid(Electric + Petrol)        9
Petrol + 1                            8
Mild Hybrid (Electric + Diesel)       2
Fuel                                  1
Diesel + 1                            1
CNG + 1                               1
Name: count, dtype: int64

In [109]:
def simplify_fuel(x):
    x = x.lower()

    if "diesel" in x:
        return "Diesel"

    if "petrol" in x or "cng" in x:
        return "Petrol"

    if "electric" in x or "hybrid" in x:
        return "Electric"

    return "Petrol"

In [110]:
df['Fuel_Clean'] = df['Fuel'].apply(simplify_fuel)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24212\18910097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fuel_Clean'] = df['Fuel'].apply(simplify_fuel)

In [111]:
df['Fuel_Clean'].value_counts()

Fuel_Clean
Petrol      1455
Diesel       877
Electric      48
Name: count, dtype: int64

In [112]:
df.drop('Fuel', axis=1, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24212\211022915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Fuel', axis=1, inplace=True)

In [113]:
df

,Name,Price,Kilometers,Fuel_Clean
0,2023 Maruti Suzuki XL6 Alpha Plus AT Petrol [2...,Rs. 11.5 Lakh,"56,123",Petrol
1,2023 Hyundai Aura SX 1.2 CNG,Rs. 6.85 Lakh,"34,900",Petrol
2,2019 Maruti Suzuki XL6 Alpha AT Petrol,Rs. 10.59 Lakh,"35,806",Petrol
3,2024 Maruti Suzuki Grand Vitara Zeta Smart Hyb...,Rs. 14.99 Lakh,"5,680",Petrol
4,2016 Maruti Suzuki Baleno Zeta 1.2 AT,Rs. 4.99 Lakh,"34,036",Petrol
...,...,...,...,...
4521,2019 Hyundai Elantra 2.0 SX (O) AT,Rs. 14.65 Lakh,"23,460",Petrol
4522,2015 Honda City SV CVT,Rs. 6.75 Lakh,"44,316",Petrol
4523,2021 Mahindra XUV300 W8 (O) 1.2 Petrol AMT,Rs. 10.25 Lakh,"23,918",Petrol
4524,2018 Audi A6 35 TDI Matrix,Rs. 21.75 Lakh,"63,915",Diesel
4525,2021 Mercedes-Benz E-Class E 220 d Avantgarde,Rs. 47.75 Lakh,"34,713",Diesel

In [114]:
df['Kilometers']=df['Kilometers'].str.replace(",", "")

C:\Users\Admin\AppData\Local\Temp\ipykernel_24212\1375503114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Kilometers']=df['Kilometers'].str.replace(",", "")

In [115]:
df

,Name,Price,Kilometers,Fuel_Clean
0,2023 Maruti Suzuki XL6 Alpha Plus AT Petrol [2...,Rs. 11.5 Lakh,56123,Petrol
1,2023 Hyundai Aura SX 1.2 CNG,Rs. 6.85 Lakh,34900,Petrol
2,2019 Maruti Suzuki XL6 Alpha AT Petrol,Rs. 10.59 Lakh,35806,Petrol
3,2024 Maruti Suzuki Grand Vitara Zeta Smart Hyb...,Rs. 14.99 Lakh,5680,Petrol
4,2016 Maruti Suzuki Baleno Zeta 1.2 AT,Rs. 4.99 Lakh,34036,Petrol
...,...,...,...,...
4521,2019 Hyundai Elantra 2.0 SX (O) AT,Rs. 14.65 Lakh,23460,Petrol
4522,2015 Honda City SV CVT,Rs. 6.75 Lakh,44316,Petrol
4523,2021 Mahindra XUV300 W8 (O) 1.2 Petrol AMT,Rs. 10.25 Lakh,23918,Petrol
4524,2018 Audi A6 35 TDI Matrix,Rs. 21.75 Lakh,63915,Diesel
4525,2021 Mercedes-Benz E-Class E 220 d Avantgarde,Rs. 47.75 Lakh,34713,Diesel

In [116]:
def clean_price(x):
    if pd.isna(x):
        return None

    x = str(x).lower().replace("rs.", "").replace(",", "").strip()

    if "lakh" in x:
        num = float(x.replace("lakh", "").strip())
        return int(num * 100000)

    if "ore"  in x or "crore" in x:
        num = float(x.replace("crore", "").replace("cr", "").strip())
        return int(num * 10000000)


    try:
        return int((x))
    except:
        return None

In [117]:
df['Price_clean'] = df['Price'].apply(clean_price)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24212\345945966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price_clean'] = df['Price'].apply(clean_price)

In [118]:
df.drop('Price', axis=1, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24212\2098574876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Price', axis=1, inplace=True)

In [119]:
df['Name'].str.split(' ')

0       [2023, Maruti, Suzuki, XL6, Alpha, Plus, AT, P...
1                     [2023, Hyundai, Aura, SX, 1.2, CNG]
2          [2019, Maruti, Suzuki, XL6, Alpha, AT, Petrol]
3       [2024, Maruti, Suzuki, Grand, Vitara, Zeta, Sm...
4           [2016, Maruti, Suzuki, Baleno, Zeta, 1.2, AT]
                              ...
4521           [2019, Hyundai, Elantra, 2.0, SX, (O), AT]
4522                         [2015, Honda, City, SV, CVT]
4523    [2021, Mahindra, XUV300, W8, (O), 1.2, Petrol,...
4524                    [2018, Audi, A6, 35, TDI, Matrix]
4525    [2021, Mercedes-Benz, E-Class, E, 220, d, Avan...
Name: Name, Length: 2380, dtype: object

In [120]:
df['Year'] = df['Name'].astype(str).str.extract(r'(\b19\d{2}\b|\b20\d{2}\b)')
df['Year'] = df['Year'].astype(float).astype('Int64')

C:\Users\Admin\AppData\Local\Temp\ipykernel_24212\56367221.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Name'].astype(str).str.extract(r'(\b19\d{2}\b|\b20\d{2}\b)')
C:\Users\Admin\AppData\Local\Temp\ipykernel_24212\56367221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Year'].astype(float).astype('Int64')

In [121]:
df

,Name,Kilometers,Fuel_Clean,Price_clean,Year
0,2023 Maruti Suzuki XL6 Alpha Plus AT Petrol [2...,56123,Petrol,1150000.0,2023
1,2023 Hyundai Aura SX 1.2 CNG,34900,Petrol,685000.0,2023
2,2019 Maruti Suzuki XL6 Alpha AT Petrol,35806,Petrol,1059000.0,2019
3,2024 Maruti Suzuki Grand Vitara Zeta Smart Hyb...,5680,Petrol,1499000.0,2024
4,2016 Maruti Suzuki Baleno Zeta 1.2 AT,34036,Petrol,499000.0,2016
...,...,...,...,...,...
4521,2019 Hyundai Elantra 2.0 SX (O) AT,23460,Petrol,1465000.0,2019
4522,2015 Honda City SV CVT,44316,Petrol,675000.0,2015
4523,2021 Mahindra XUV300 W8 (O) 1.2 Petrol AMT,23918,Petrol,1025000.0,2021
4524,2018 Audi A6 35 TDI Matrix,63915,Diesel,2175000.0,2018
4525,2021 Mercedes-Benz E-Class E 220 d Avantgarde,34713,Diesel,4775000.0,2021

In [130]:
df.loc[235]

Name           2022 Skoda Slavia Style 1.0L TSI AT
Kilometers                                   48707
Fuel_Clean                                  Petrol
Price_clean                              1275000.0
Year                                          2022
Name: 235, dtype: object

In [127]:
df.drop(235, inplace=True)

In [129]:
df = df.reset_index(drop=True)

In [123]:
df

,Name,Kilometers,Fuel_Clean,Price_clean,Year
0,2023 Maruti Suzuki XL6 Alpha Plus AT Petrol [2...,56123,Petrol,1150000.0,2023
1,2023 Hyundai Aura SX 1.2 CNG,34900,Petrol,685000.0,2023
2,2019 Maruti Suzuki XL6 Alpha AT Petrol,35806,Petrol,1059000.0,2019
3,2024 Maruti Suzuki Grand Vitara Zeta Smart Hyb...,5680,Petrol,1499000.0,2024
4,2016 Maruti Suzuki Baleno Zeta 1.2 AT,34036,Petrol,499000.0,2016
...,...,...,...,...,...
2375,2019 Hyundai Elantra 2.0 SX (O) AT,23460,Petrol,1465000.0,2019
2376,2015 Honda City SV CVT,44316,Petrol,675000.0,2015
2377,2021 Mahindra XUV300 W8 (O) 1.2 Petrol AMT,23918,Petrol,1025000.0,2021
2378,2018 Audi A6 35 TDI Matrix,63915,Diesel,2175000.0,2018
2379,2021 Mercedes-Benz E-Class E 220 d Avantgarde,34713,Diesel,4775000.0,2021

In [131]:
car_info = pd.read_csv('final_name_brand.csv',  encoding='latin1')

In [132]:
car_info

              Brand         Model                          Features
0     Maruti Suzuki           XL6  Alpha Plus AT Petrol [2022-2023]
1           Hyundai          Aura                        SX 1.2 CNG
2     Maruti Suzuki           XL6                   Alpha AT Petrol
3     Maruti Suzuki  Grand Vitara  Zeta Smart Hybrid AT [2023-2025]
4     Maruti Suzuki        Baleno                       Zeta 1.2 AT
...             ...           ...                               ...
2374        Hyundai       Elantra                     2.0 SX (O) AT
2375          Honda          City                            SV CVT
2376       Mahindra        XUV300             W8 (O) 1.2 Petrol AMT
2377           Audi            A6                     35 TDI Matrix
2378  Mercedes-Benz       E-Class                E 220 d Avantgarde

[2379 rows x 3 columns]

In [133]:
df[['Brand', "Model", "Features"]] = car_info[['Brand', 'Model', "Features"]]

In [134]:
df

,Name,Kilometers,Fuel_Clean,Price_clean,Year,Brand,Model,Features
0,2023 Maruti Suzuki XL6 Alpha Plus AT Petrol [2...,56123,Petrol,1150000.0,2023,Maruti Suzuki,XL6,Alpha Plus AT Petrol [2022-2023]
1,2023 Hyundai Aura SX 1.2 CNG,34900,Petrol,685000.0,2023,Hyundai,Aura,SX 1.2 CNG
2,2019 Maruti Suzuki XL6 Alpha AT Petrol,35806,Petrol,1059000.0,2019,Maruti Suzuki,XL6,Alpha AT Petrol
3,2024 Maruti Suzuki Grand Vitara Zeta Smart Hyb...,5680,Petrol,1499000.0,2024,Maruti Suzuki,Grand Vitara,Zeta Smart Hybrid AT [2023-2025]
4,2016 Maruti Suzuki Baleno Zeta 1.2 AT,34036,Petrol,499000.0,2016,Maruti Suzuki,Baleno,Zeta 1.2 AT
...,...,...,...,...,...,...,...,...
2374,2019 Hyundai Elantra 2.0 SX (O) AT,23460,Petrol,1465000.0,2019,Hyundai,Elantra,2.0 SX (O) AT
2375,2015 Honda City SV CVT,44316,Petrol,675000.0,2015,Honda,City,SV CVT
2376,2021 Mahindra XUV300 W8 (O) 1.2 Petrol AMT,23918,Petrol,1025000.0,2021,Mahindra,XUV300,W8 (O) 1.2 Petrol AMT
2377,2018 Audi A6 35 TDI Matrix,63915,Diesel,2175000.0,2018,Audi,A6,35 TDI Matrix
2378,2021 Mercedes-Benz E-Class E 220 d Avantgarde,34713,Diesel,4775000.0,2021,Mercedes-Benz,E-Class,E 220 d Avantgarde

In [135]:
df.to_csv("Final_clead_data.csv", index=False)

In [102]:
df.loc[235]

Name                        Name
Kilometers            Kilometers
Fuel_Clean                Petrol
Price_clean                  NaN
Year                        <NA>
Brand                      Skoda
Model                     Slavia
Features       Style 1.0L TSI AT
Name: 235, dtype: object

In [136]:
df.duplicated().sum()

0