In [3]:
import os
import pandas as pd

In [20]:
df = pd.read_csv('merged.csv')

In [21]:
df.head(3)

,o-o,o-j1,o-j5
0,2023 Maruti Suzuki Ciaz Alpha 1.5,"46,477 km | Petrol | Makarba, Ahmedabad",Rs. 8.25 Lakh
1,2018 Honda Amaze 1.2 VX MT Petrol [2018-2020],"70,792 km | Petrol | Meghaninagar, Ahmedabad",Rs. 5.75 Lakh
2,2016 Honda Brio VX MT,"49,000 km | Petrol | Thaltej, Ahmedabad",Rs. 3.75 Lakh

In [22]:
df['km'] = df['o-j1'].str.split('km', expand=True)[0]

In [23]:
df['o-j1']

0            46,477 km  |  Petrol  |  Makarba, Ahmedabad
1       70,792 km  |  Petrol  |  Meghaninagar, Ahmedabad
2            49,000 km  |  Petrol  |  Thaltej, Ahmedabad
3            53,859 km  |  Petrol  |  Makarba, Ahmedabad
4            65,000 km  |  Diesel  |  Makarba, Ahmedabad
                              ...
3756     23,460 km  |  Petrol  |  Singasandra, Bangalore
3757     44,316 km  |  Petrol  |  Singasandra, Bangalore
3758     23,918 km  |  Petrol  |  Singasandra, Bangalore
3759     63,915 km  |  Diesel  |  Koramangala, Bangalore
3760     34,713 km  |  Diesel  |  Koramangala, Bangalore
Name: o-j1, Length: 3761, dtype: object

In [ ]:
  |

,o-o,o-j1,o-j5,km
0,2023 Maruti Suzuki Ciaz Alpha 1.5,"46,477 km | Petrol | Makarba, Ahmedabad",Rs. 8.25 Lakh,"46,477"
1,2018 Honda Amaze 1.2 VX MT Petrol [2018-2020],"70,792 km | Petrol | Meghaninagar, Ahmedabad",Rs. 5.75 Lakh,"70,792"
2,2016 Honda Brio VX MT,"49,000 km | Petrol | Thaltej, Ahmedabad",Rs. 3.75 Lakh,"49,000"
3,2022 Hyundai Creta SX (O) 1.4 Turbo 7 DCT,"53,859 km | Petrol | Makarba, Ahmedabad",Rs. 14.9 Lakh,"53,859"
4,2020 Mahindra XUV500 W11,"65,000 km | Diesel | Makarba, Ahmedabad",Rs. 11.5 Lakh,"65,000"

In [38]:
df['fule'] =df['o-j1'].str.split('|', expand=True)[1]

In [29]:
df['o-j1'].str.split(r'\s*\|\s*', expand=True)

              0       1                        2
0     46,477 km  Petrol       Makarba, Ahmedabad
1     70,792 km  Petrol  Meghaninagar, Ahmedabad
2     49,000 km  Petrol       Thaltej, Ahmedabad
3     53,859 km  Petrol       Makarba, Ahmedabad
4     65,000 km  Diesel       Makarba, Ahmedabad
...         ...     ...                      ...
3756  23,460 km  Petrol   Singasandra, Bangalore
3757  44,316 km  Petrol   Singasandra, Bangalore
3758  23,918 km  Petrol   Singasandra, Bangalore
3759  63,915 km  Diesel   Koramangala, Bangalore
3760  34,713 km  Diesel   Koramangala, Bangalore

[3761 rows x 3 columns]

In [45]:
df.drop('o-j1', axis=True, inplace=True)

In [50]:
df['fule']= df['fule'].str.replace("Â", "")

In [62]:
df.to_csv("Cleaed_mered.csv", index=False)

In [59]:
df.drop('fule',axis=True, inplace=True)

In [57]:
df['Fuel'] = df['fule'].str.encode('ascii', 'ignore').str.decode('ascii').str.strip()

In [63]:
df = pd.read_csv("carwale_real_data copy.csv")

In [78]:
df['Kilometers'] = df['Kilometers'].str.replace('km', '', regex=False).str.strip()

In [77]:
df['Kilometers'].str.replace('km', '', regex=False).str.strip()

0      56,123
1      34,900
2      35,806
3       5,680
4      34,036
        ...
760    47,000
761    30,000
762    27,000
763    88,000
764    56,433
Name: Kilometers, Length: 765, dtype: object

In [80]:
df.to_csv("carwale_real_data copy.csv")